# Ignore everything in the data folder except .gitkeep
data/ground_truth/*
!data/ground_truth/.gitkeep
data/text/*
!data/text/.gitkeep
!data/.gitkeep

# Ignore everything in the vector_db folder except .gitkeep
vector_db/*
!vector_db/.gitkeep

# ignore pycache files
__pycache__/

#ignore environment settings
.env

