# Ignore everything in the data folder except .gitkeep
data/*
!data/.gitkeep

# Ignore everything in the vector_db folder except .gitkeep
vector_db/*
!vector_db/.gitkeep

# ignore pycache files
__pycache__/

#ignore environment settings
.env

# Ignore Jupyter Notebook checkpoints
reward_training_files/*
rl_training_files/*
rl_training_new/wandb/*
wandb/*
custom_metrics/*
